POSTGRES_PASSWORD=changeme
HOLYSHIP_ADMIN_TOKEN=changeme
HOLYSHIP_WORKER_TOKEN=changeme
GITHUB_APP_ID=3099979
GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
GITHUB_WEBHOOK_SECRET=changeme
UI_ORIGIN=https://holyship.wtf
NEXT_PUBLIC_API_URL=https://api.holyship.wtf
