DOMAIN=wopr.bot
POSTGRES_PASSWORD=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_DEFAULT_PRICE_ID=
STRIPE_CREDIT_PRICE_5=
STRIPE_CREDIT_PRICE_10=
STRIPE_CREDIT_PRICE_25=
STRIPE_CREDIT_PRICE_50=
STRIPE_CREDIT_PRICE_100=
BETTER_AUTH_SECRET=
POSTMARK_API_KEY=
CLOUDFLARE_API_TOKEN=
PLATFORM_SECRET=
PLATFORM_ENCRYPTION_SECRET=
DO_API_TOKEN=
OPENROUTER_API_KEY=
GHCR_TOKEN=
FLEET_API_TOKEN=

# Crypto Key Server
CRYPTO_SERVICE_URL=
CRYPTO_WEBHOOK_URL=
