{
	email admin@wopr.bot
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

wopr.bot {
	reverse_proxy platform-ui:3000
}

app.wopr.bot {
	reverse_proxy platform-ui:3000
}

api.wopr.bot {
	reverse_proxy platform-api:3100
}

*.wopr.bot {
	reverse_proxy platform-api:3100
}
