{
	email admin@wopr.bot
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

wopr.bot {
	reverse_proxy platform-ui:3000
}

app.wopr.bot {
	reverse_proxy platform-ui:3000
}

api.wopr.bot {
	reverse_proxy platform-api:3100
}

*.wopr.bot {
	reverse_proxy platform-api:3100
}

staging.wopr.bot {
	reverse_proxy staging-ui:3000
}

staging.app.wopr.bot {
	reverse_proxy staging-ui:3000
}

staging.api.wopr.bot {
	reverse_proxy staging-api:3100
}
