{
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

holyship.wtf, www.holyship.wtf {
	reverse_proxy ui:3000
}

api.holyship.wtf {
	reverse_proxy api:3001
}

staging.holyship.wtf {
	basic_auth {
		staging $2a$14$fJJ4LQ/s/zHY6vAjrmvIvuGD8rh7a3un2Kj7PWaCVll1aQ2Hi8bAq
	}
	reverse_proxy staging-ui:3000
}

staging.api.holyship.wtf {
	basic_auth {
		staging $2a$14$fJJ4LQ/s/zHY6vAjrmvIvuGD8rh7a3un2Kj7PWaCVll1aQ2Hi8bAq
	}
	reverse_proxy staging-api:3001
}
