{
	email admin@runpaperclip.com
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

runpaperclip.com {
	reverse_proxy platform-ui:3000
}

app.runpaperclip.com {
	redir https://runpaperclip.com{uri} permanent
}

api.runpaperclip.com {
	reverse_proxy platform-api:3200
}

*.runpaperclip.com {
	reverse_proxy platform-api:3200
}

staging.runpaperclip.com {
	basic_auth {
		staging $2a$14$fJJ4LQ/s/zHY6vAjrmvIvuGD8rh7a3un2Kj7PWaCVll1aQ2Hi8bAq
	}
	reverse_proxy staging-ui:3000
}

staging.app.runpaperclip.com {
	redir https://staging.runpaperclip.com{uri} permanent
}

staging.api.runpaperclip.com {
	reverse_proxy staging-api:3200
}
